#dashboard-main-outputs {
  text-align: justify;
  width: 99%;
  margin:60px auto 0;
}
#dashboard-main-output:after {
  display: inline-block;
  width: 100%;
  content: '';
  clear: both;
}
.dashboard-main-wrapper {
  width: 33%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin-bottom:30px;
  padding-right:30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#dashboard-main-columns {
  margin-bottom:30px;
}
#dashboard-main-columns .dashboard-main-wrapper:last-child {
  padding:0;
}
.dashboard-item-wrapper {
  background: #e4e4e4; /* Old browsers */
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border: 0px solid #eb3835;
  overflow: hidden;
  color: #000;
  font-weight; 700;
}
.dashboard-main-header {
  background: #111014;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border: 1px solid #e4e4e4;
  padding: 15px 10px;
  color: #fafafa;
  font-size: 14px;
  font-weight:400;
}

.dashboard-item-choice input {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}
.dashboard-item-choice	input + label {
  display: block;
  position: relative;
  text-indent: -5000px;
  height: 19px;
  width: 37px;
  border-radius: 15px;
  float: right;
}
.dashboard-item-choice .mpsum-spinner {
	float: right;
}

.dashboard-item-choice input + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 20px;
  width: 40px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgba(19, 191, 17, 0);
  box-shadow: inset 0 0 0px 1px #e33524;

  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.dashboard-item-choice input + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 12px;
  width: 12px;
  top: 4px;
  left: 5px;
  border-radius: 15px;
  background: #e33524;
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.dashboard-main-wrapper input:checked + label:before {
  width: 40px;
  background: rgba(208, 208, 208, .3);
  box-shadow: inset 0 0 0px 1px #0daf88;
}

.dashboard-main-wrapper input:checked + label:after {
  left: 23px;
  background:rgba(37, 175, 118, 1);
}

#dashboard-main-outputs .dashboard-hide {
  display: none;
}
.dashboard-item-header {
  clear: both;
  float: left;
  width: 60%;
  font-weight: 100;
}
.dashboard-item:first-child {
  border-top: none;
}
.dashboard-item {
  cursor: pointer;
  clear: both;
  border-bottom: 1px solid #d2d2d2;
  padding: 18px 15px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.dashboard-item:hover {
  background:#ececec;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.dashboard-item-header {
  color:#888;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.dashboard-item.active .dashboard-item-header{
  color:#000;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.dashboard-item.active .dashboard-item-header.input-radio {
 font-weight: 700;
}
.dashboard-item-header.input-radio {
  color:#555;
  font-weight: 400;
}
.dashboard-tab-item {
  background: #FFF;
  width: 50%;
  float: left;
  text-align: center;
  overflow: hidden;
  color:#ddd;
}
.dashboard-tab-item a,
.dashboard-tab-item a:link,
.dashboard-tab-item a:active,
.dashboard-tab-item a:visited {
  display: block;
  width: 100%;
  background: #FFF;
  color: #aaa;
  text-decoration: none;
  padding: 15px 0;
  text-transform:uppercase;
}
.dashboard-tab-item.active a{
  font-weight: 800;
  color:#000;
  border-bottom:2px solid #1990f8;
}
.dashboard-tab-content.active {
  display: block;
}
.dashboard-tab-content {
  display: none;
}
.dashboard-tab {
  overflow: hidden;
  border: 1px solid #e4e4e4;
  border-top: none;
}
.dashboard-item-wrapper {
  max-height: 700px;
  overflow: auto;
  padding-bottom:20px;
}
.dashboard-item-wrapper p {
	padding: 15px;
	padding-bottom: 0;
	margin-bottom: 0;
}
/*
.dashboard-main-wrapper:nth-child( odd ) {
  clear: left;
}
*/
.multi-choice {
  clear: both;
  margin-top; 20px;
}

label{
  font-weight: 100 !important;

}

#dashboard-main-outputs input[type=radio] {
  -webkit-appearance: none; /* remove default */
  margin: 10px;
  width: 15px;
  height: 16px;
  border-radius: 12px;
  cursor: pointer;
  vertical-align: middle;
  outline: none;
  border:1px solid #e33524;
  background-color:#dddddd;
  -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
  -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
}

#dashboard-main-outputs input[type=checkbox]:checked:before,
#dashboard-main-outputs input[type=radio]:checked:before {
  background-color:#0daf88 !important;
}

#dashboard-main-outputs input[type=checkbox]:checked,
#dashboard-main-outputs input[type="radio"]:checked {
  -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
  -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
  background:rgba(37, 175, 118, 1);
  border:1px solid #0daf88;
}
#dashboard-main-outputs input[type=radio]:active {
  -webkit-transform: scale(1.5);
  -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
  background:rgba(37, 175, 118, 1);
}


/* The up/down direction logic */
#dashboard-main-outputs input,
#dashboard-main-outputs input:active {
  background-position: 0 24px;
}
#dashboard-main-outputs input:checked {
  background-position: 0 0;
}
#dashboard-main-outputs input:checked ~ input,
#dashboard-main-outputs input:checked ~ input:active {
  background-position: 0 -24px;
}
.button.delete {
	background-color: #e14d43;
	color: #FFF;
}
.mpsum-error {
	background: #fff;
	border-left: 4px solid #dc3232;
	-webkit-box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
	box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
	margin: 5px 15px 2px;
	padding: 1px 12px;
	margin: 5px 0 15px;
	color: #ff0000;
}
.mpsum_error p {
	margin: 0.5em 0;
	padding: 2px;
}

@media only screen and (max-width:1200px) {
  #dashboard-main-outputs {
	width:100%;
  }
}
@media only screen and (max-width:1000px) {
  #dashboard-main-outputs .dashboard-main-wrapper {
	width: 48.5%;
	padding:0;

  }
  .dashboard-item-wrapper {
	min-height: auto;
	max-height: 700px;
	overflow: auto;
  }
}
@media only screen and (max-width:782px) {
  #dashboard-main-outputs .dashboard-main-wrapper {
	width: 98.5%;
  }
  #dashboard-main-outputs { 
	  margin-top: 20px;
  }
  #dashboard-main-outputs input[type=radio]:checked:before {
	margin:0 !important;
  }
}