.eum-dashboard-app {
  width: 99%;
  margin: 30px auto 0; }
  .eum-dashboard-app:after {
    display: inline-block;
    width: 100%;
    content: '';
    clear: both; }

.toggle-wrapper {
  position: relative; }

/* Let's give some toggle switches some love */
/* From https://codepen.io/koenigsegg1/pen/QjZNVP */
input[type=checkbox].eum-hidden {
  display: none; }
  input[type=checkbox].eum-hidden:checked ~ .toggle {
    background: #009688;
    left: 20.8px;
    transition: .5s; }
  input[type=checkbox].eum-hidden:checked ~ .switch {
    background: #6DBEB7;
    transition: .5s; }

.toggle-wrapper label {
  margin-left: 50px;
  font-weight: 700; }

.eum-toggle-button {
  font-size: 13px !important; }

.eum-input-label {
  font-weight: 700; }

.switch {
  display: block;
  width: 40px;
  height: 16px;
  background: #939393;
  border-radius: 8px;
  position: absolute;
  top: 3px;
  transition: .5s; }

.toggle {
  height: 22.4px;
  width: 22.4px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0.8px 1.6px rgba(0, 0, 0, 0.4);
  transition: .5s; }

.multi-choice {
  clear: both;
  margin-top: 20px; }

.eum-section {
  border-bottom: 1px solid #CCC;
  padding-bottom: 15px; }

.eum-section input[type=radio] {
  -webkit-appearance: none;
  /* remove default */
  margin: 0 10px;
  width: 15px;
  height: 16px;
  border-radius: 12px;
  cursor: pointer;
  vertical-align: middle;
  outline: none;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  -webkit-transition: background-position 0.15s cubic-bezier(0.8, 0, 1, 1), -webkit-transform 0.25s cubic-bezier(0.8, 0, 1, 1); }

.eum-section input[type=radio]:checked:before {
  display: none; }

.eum-section input[type="radio"]:checked {
  -webkit-transition: background-position 0.2s 0.15s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  background: #25af76;
  border: 1px solid #999; }

.eum-section input[type="radio"]:checked:disabled {
  background: grey; }

input[type=email].eum-input-email {
  background: #FFF;
  box-shadow: none;
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  display: block;
  min-width: 500px; }
  @media only screen and (max-width: 510px) {
    input[type=email].eum-input-email {
      min-width: 100%; } }

.wp-core-ui button.eum-save {
  margin-top: 10px;
  margin-bottom: 10px; }

.button.delete {
  background-color: #e14d43;
  color: #FFF; }

.mpsum-error,
.mpsum-notice {
  background: #fff;
  border-left: 4px solid #dc3232;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin: 5px 15px 2px;
  padding: 1px 12px;
  margin: 5px 0 15px;
  color: #ff0000; }

.mpsum-notice {
  border-left-color: #00a0d2;
  color: #000; }

.mpsum-error p,
.mpsum-notice p {
  margin: 0.5em 0;
  padding: 2px; }

.eum-ratings-nag li {
  display: inline-block;
  margin-right: 10px; }

.eum-ratings-nag a {
  display: inline-block; }

.toggle-wrapper button,
.toggle-wrapper a {
  padding: 5px 10px;
  display: inline-block;
  background: #f8f8f8;
  border-right: 0;
  border-color: #CCC;
  font-size: 1.2em;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  align-items: flex-start;
  text-align: center;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  -webkit-appearance: button;
  appearance: button; }
  .toggle-wrapper button:first-child,
  .toggle-wrapper a:first-child {
    border-radius: 5px 0px 0px 5px; }
  .toggle-wrapper button:last-child,
  .toggle-wrapper a:last-child {
    border-radius: 0px 5px 5px 0px;
    border-right: 1px solid #CCC; }
  .toggle-wrapper button.eum-active,
  .toggle-wrapper a.eum-active {
    background: #25af76;
    color: #FFF;
    -webkit-appearance: inherit;
    appearance: inherit; }
  @media only screen and (max-width: 600px) {
    .toggle-wrapper button,
    .toggle-wrapper a {
      display: block;
      width: 100%;
      border-radius: 0 0 0 0;
      border: 1px solid #CCC; }
      .toggle-wrapper button:first-child,
      .toggle-wrapper a:first-child {
        border-radius: 0; }
      .toggle-wrapper button:last-child,
      .toggle-wrapper a:last-child {
        border-radius: 0; } }

.eum-button {
  padding: 20px 10px;
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px !important; }

.eum-status {
  font-style: italic; }

/* These styles are for the plugins/themes screen for versions less than WordPress 4.9 */
.plugins .plugin-title .dashicons,
.plugins .plugin-title img {
  float: left;
  padding: 0 10px 0 0;
  width: 64px;
  height: 64px; }

.plugins .plugin-title .dashicons:before {
  padding: 2px;
  background-color: #eee;
  box-shadow: inset 0 0 10px rgba(160, 165, 170, 0.15);
  font-size: 60px;
  color: #B4B9BE; }

.updates-table-screenshot {
  float: left;
  padding: 0 10px 5px 0;
  width: 85px;
  height: 64px; }

.theme-title strong {
  display: block; }

.eum-plugin-name-actions {
  margin-left: 70px; }

.eum-theme-name-actions {
  margin-left: 100px; }

body .plugins .active td,
body .plugins .active th {
  background: #FFF; }

body .plugins .active th.check-column {
  border-left: 4px solid #25af76; }

body .plugins .inactive th.check-column {
  border-left: 4px solid #d44e1c; }

#footer-thankyou img {
  max-width: 100px; }
