.eum-dashboard-app {
  width: 99%;
  margin: 30px auto 0; }
  .eum-dashboard-app:after {
    display: inline-block;
    width: 100%;
    content: '';
    clear: both; }

.toggle-wrapper {
  position: relative; }

/* Let's give some toggle switches some love */
/* From https://codepen.io/koenigsegg1/pen/QjZNVP */
input[type=checkbox].eum-hidden {
  display: none; }
  input[type=checkbox].eum-hidden:checked ~ .toggle {
    background: #009688;
    left: 20.8px;
    transition: .5s; }
  input[type=checkbox].eum-hidden:checked ~ .switch {
    background: #6DBEB7;
    transition: .5s; }

.toggle-wrapper label {
  margin-left: 50px;
  font-weight: 700; }

.switch {
  display: block;
  width: 40px;
  height: 16px;
  background: #939393;
  border-radius: 8px;
  position: absolute;
  top: 3px;
  transition: .5s; }

.toggle {
  height: 22.4px;
  width: 22.4px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0.8px 1.6px rgba(0, 0, 0, 0.4);
  transition: .5s; }

.multi-choice {
  clear: both;
  margin-top: 20px; }

.eum-section input[type=radio] {
  -webkit-appearance: none;
  /* remove default */
  margin: 0 10px;
  width: 15px;
  height: 16px;
  border-radius: 12px;
  cursor: pointer;
  vertical-align: middle;
  outline: none;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  -webkit-transition: background-position 0.15s cubic-bezier(0.8, 0, 1, 1), -webkit-transform 0.25s cubic-bezier(0.8, 0, 1, 1); }

.eum-section input[type=radio]:checked:before {
  background-color: #0daf88 !important; }

.eum-section input[type="radio"]:checked {
  -webkit-transition: background-position 0.2s 0.15s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  background: #25af76;
  border: 1px solid #999; }

.eum-section input[type="radio"]:checked:disabled {
  background: grey; }

.button.delete {
  background-color: #e14d43;
  color: #FFF; }

.mpsum-error,
.mpsum-notice {
  background: #fff;
  border-left: 4px solid #dc3232;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin: 5px 15px 2px;
  padding: 1px 12px;
  margin: 5px 0 15px;
  color: #ff0000; }

.mpsum-notice {
  border-left-color: #00a0d2;
  color: #000; }

.mpsum-error p,
.mpsum-notice p {
  margin: 0.5em 0;
  padding: 2px; }

.eum-ratings-nag li {
  display: inline-block;
  margin-right: 10px; }

.eum-ratings-nag a {
  display: inline-block; }

.eum-button {
  padding: 20 10px;
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px !important; }

/* These styles are for the plugins/themes screen for versions less than WordPress 4.9 */
.plugins .plugin-title .dashicons,
.plugins .plugin-title img {
  float: left;
  padding: 0 10px 0 0;
  width: 64px;
  height: 64px; }

.plugins .plugin-title .dashicons:before {
  padding: 2px;
  background-color: #eee;
  box-shadow: inset 0 0 10px rgba(160, 165, 170, 0.15);
  font-size: 60px;
  color: #B4B9BE; }

.updates-table-screenshot {
  float: left;
  padding: 0 10px 5px 0;
  width: 85px;
  height: 64px; }

.theme-title strong {
  display: block; }

.eum-plugin-name-actions {
  margin-left: 70px; }

.eum-theme-name-actions {
  margin-left: 100px; }
